*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
*.orig
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
.DS_Store
.Trash
var
deploys/*
*.sqlite
*.db
*.log
develop
.idea
.project
.pydevproject
*.zip
.settings/
development.py
wiki/
export/
*.sublime-*
.venv
node_modules/
